body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

section{
    color: rgb(140, 84, 180);
}

.container{
    margin: 20px 0px;
}

h2{
    text-align: center;
}

.tabs{
    display: flex;
    padding: 10px 20px;
    background-color: #3ed6d6;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.tab-01,
.tab-02,
.tab-03,
.tab{
    margin: 5px;
    cursor: pointer;
}

.content,
.content-container{
    padding: 10px 20px;
    background-color: #555555;
    color: #FFF;
    border-radius: 0px 0px 4px 4px;
    transition: 200ms ease-in-out;
}

.content-01,
.content-02,
.content-03{
    margin: 5px;
    display: none;
}

#content-01,
#content-02,
#content-03{
    margin: 5px;
    display: none;
}

.bloco-input{
    display: flex;
    flex-flow: column;
}

.inputs{
    margin: 5px;
    padding: 5px;
}

.inputs:focus{
    outline-color: #542E71;
}

form{
    display: flex;
    flex-flow: column;
    padding: 10px;
}

label{
    margin: 10px 0px;
}

#send-button{
    margin: 20px 0px;
    background-color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: 1px 3px 8px rgba(39, 26, 49, 0.216);
    color: #3ed6d6;
    font-weight: 600;
    font-size: 18px;
    transition: 300ms ease;
}

#send-button:focus{
    outline: none;
    background-color: #542E71;
}

.error{
    color: #ff7474;
    margin: 5px;
    text-align: center;
}

.bloco-cpf{
    margin: 3px;
    font-size: 12px;
    align-self: flex-end;
}

#cpf{
    margin: 5px 0px;
}

/* Page Section style */

.page{
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 1px 4px 8px #2c2a2a4b;
}

.page h1{
    font-size: 24px;
}

.text{
    font-size: 18px;
}

.btn{
    background-color: #3ed6d6;
    border: none;
    padding: 7px 14px;
    border-radius: 6px;
    color: #FFF;
    font-size: 18px;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: #542E71;
    color: #3ed6d6;
}

.cards{
    display: flex;
}

.card{
    width: 220px;
    padding: 4px;
    transition: 200ms ease-in-out;
    cursor: pointer;
    margin: 5px;
}

.card:hover{ 
    box-shadow: 1px 4px 8px #2c2a2a4b;
}

.ghost-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 0px 30px #22202056;
}

#ghost{
    top: 150px;
    left: 150px;
    position: absolute;
    width: 40px;
    height: 40px;
}